.container
    footer.py-3.my-4
        ul.nav.justify-content-center.border-bottom.pb-3.mb-3
            li.nav-item
                a.nav-link.px-2.text-muted(href='/') Inicio
            li.nav-item
                a.nav-link.px-2.text-muted(href='/libros') Libros
            li.nav-item
                a.nav-link.px-2.text-muted(href='/autores') Autores
            li.nav-item
                a.nav-link.px-2.text-muted(href='/generos') Generos
            li.nav-item
                a.nav-link.px-2.text-muted(href='/formas-de-pago') Formas de Pago
            li.nav-item
                a.nav-link.px-2.text-muted(href='/ventas') Ventas
        p.text-center.text-muted © 2023 Company, Inc
        script(src='/js/bootstrap.js')
