extends index
block contenido
    .mt-5.p-5
        h1.text-center.fw-bolder Proyecto Final Bases de Datos en Ambientes Distribuidos
        h2.text-center Yarlenis Alabarca
        h2.text-center 8-959-2219

        h1.text-center.mt-5 Conexión # 1
        h2.text-center Host DB: #{host}